<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DataEntry" connectionString="Data Source=m6q6jdw56b.database.windows.net; Initial Catalog=TestCDays15;User ID=cdays15; Password=password;Pooling=False" />
  </connectionStrings>
</configuration>